/node_modules
/frontend/.next
/frontend/out
/frontend/.turbo
/frontend/node_modules

/backend/.env
/frontend/.env

/.venv
/backend/.venv
/venv

/__pycache__
/backend/__pycache__
/.pytest_cache
/backend/.pytest_cache
/.mypy_cache
/backend/.mypy_cache

*.pyc

/.coverage
/coverage.html

/.DS_Store
/.vscode